<template>
    <div style="margin-top: 2%;">
        <li class="list-group-item" :class="colorClass" style="font-weight: bold; border-radius: 0;">
            <slot></slot>
        </li>
        <small class="badge float-md-right" :class="badgeClass" style="border-radius: 0;"> {{ user }} </small>
        <small class="badge float-md-left" :class="colorClass" style="border-radius: 0;"> {{ time }} </small>
    </div>
</template>

<script>
    export default {
        props : [
            'color',
            'user',
            'time'
        ],
        computed : {
            colorClass(){
              return 'list-group-item-'+this.color;
          },
            badgeClass(){
                return 'badge-'+this.color;
            }

        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
